*{
    padding: 0px;
margin: 0px;
}
header{
    height: 100px;
    width: 100%;
    background: url( 'img3.jpeg') no-repeat;
    background-position: center;
    background-size: cover;
}
#text-area .text-row{
    display: flex;
    width: 100%;
}
.text-left-col h2{
    margin-left: 80%;
    flex-basis: 80%;
}
.text-right-col{
    flex-basis: 20%;
    display: flex;
    margin-left: 100px;

}
.text-right-col img{
    padding:12px 12px;
    margin:20px;
    height: 75px;
    width: 65px;
    justify-content: space-between;
}
#text-link{
    display: block;
    margin-right: 210px;
    margin-top: 110px;
    margin-bottom: 50px;
}
.images-row{
    display: flex;
    width:100%;
}
.images-left-col
{
    flex-basis: 30%;
    
}
.images-left-col img{
    height:250px;
}
.images-middle-col{
    flex-basis: 40%;
}
.images-right-col{
    flex-basis: 30%;
    display: block;
}
.images-right-col img{
    height:250px;
    margin-right: 20px;
}
.images-right-col p{
    margin-top: 20px;
}
.list-row{
    display: flex;
    width: 100%;
}
.list-left-col,.list-middle-col,.list-right-col{
    flex-basis: 30%;

}
.info form{
    margin-left: 40%;
    display: block;
}
